
  <div class="container">
    <h1>{{title}}</h1>
    <app-formulario
    (resultadoSuma) = "procesarResultado($event)"
    >
    </app-formulario>
    <app-resultado
    [resultadoHijo] = "resultadoPadre"
    >

    </app-resultado>
  </div>
