<form action="" class="form-row">
    <div class="col-lg-6">
        <p>Operando A</p>
        <input type="text" name="operandoA" placeholder="Escribe Operando A" class="form-control" [(ngModel)]="num1">
    </div>
    <div class="col-lg-6">
        <p>Operando B</p>
        <input type="text" name="operandoB" placeholder="Escribe Operando B" class="form-control" [(ngModel)]="num2">
    </div>
    <div>
        <button class="btn btn-primary" (click)="sumar()">Sumar</button>
    </div>
</form>
<hr>